<table id="mtable" class="table table-bordered my-3">
    <thead>
        <tr class="gray-slot">
            <th class="text-left py-3 font-weight-bold big-border-bottom text-block" colspan="2">
                Corona Virus Summary Update Worldwide
            </th>
        </tr>
    </thead>
    <tbody class="my-2">
        <tr class="yellow-slot">
            <td>Total Cases</td>
            <ng-template [ngIf]="total_cases" [ngIfElse]="loading">
                <td class="text-right">{{total_cases}}</td>
            </ng-template>

        </tr>
        <tr class="yellow-slot">
            <td>New Cases</td>
            <ng-template [ngIf]="new_cases" [ngIfElse]="loading">
                <td class="text-right">{{new_cases}}</td>
            </ng-template>

        </tr>
        <tr class="yellow-slot">
            <td>Active Cases</td>
            <ng-template [ngIf]="active_cases" [ngIfElse]="loading">
                <td class="text-right">{{active_cases}}</td>
            </ng-template>

        </tr>
        <tr class="blue-slot">
            <td>Total Recovered</td>
            <ng-template [ngIf]="total_recovered" [ngIfElse]="loading">
                <td class="text-right">{{total_recovered}}</td>
            </ng-template>
        </tr>
        <tr class="blue-slot">
            <td>New Recovered</td>
            <ng-template [ngIf]="new_recovered" [ngIfElse]="loading">
                <td class="text-right">{{new_recovered}}</td>
            </ng-template>
        </tr>
        <tr class="blue-slot">
            <td>Recovery Rate</td>
            <ng-template [ngIf]="recovery_rate" [ngIfElse]="loading">
                <td class="text-right">{{recovery_rate}} %</td>
            </ng-template>
        </tr>
        <tr class="red-slot">
            <td>Total Deaths</td>
            <ng-template [ngIf]="total_deaths" [ngIfElse]="loading">
                <td class="text-right">{{total_deaths}}</td>
            </ng-template>
        </tr>
        <tr class="red-slot">
            <td>New Deaths</td>
            <ng-template [ngIf]="new_deths" [ngIfElse]="loading">
                <td class="text-right">{{new_deths}}</td>
            </ng-template>
        </tr>
        <tr class="red-slot">
            <td>Mortality Rate</td>
            <ng-template [ngIf]="mortality_rate" [ngIfElse]="loading">
                <td class="text-right">{{mortality_rate}} %</td>
            </ng-template>
        </tr>
    </tbody>

</table>
<div class="row">
    <div class="col-md-12">
        <div class="block-format text-block"> Corona Virus Cases Distribution Worldwide</div>
    </div>
</div>
<div class="row">

    <div class="chart my-3" style="width: 100%;">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
        </canvas>
    </div>

</div>
<ng-template #loading>
    <td class="text-right">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        Loading...
    </td>
</ng-template>